@using SGCorp.Models
@model SGCorp.Models.Suggestion
@{
    ViewBag.Title = "AddSuggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddSuggestion</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>@Html.ValidationMessageFor(m=>m.EmployeeName)</p>
    <p>Employee Name: @Html.EditorFor(m => m.EmployeeName)</p>
    <p>@Html.ValidationMessageFor(m=>m.SuggestionText)</p>
    <p>Suggestion: @Html.TextAreaFor(m=>m.SuggestionText)</p>
    <input type="hidden" name="SuggestionId" id="SuggestionId" value="0"/>
    <button>Submit</button>

}

