@model List<SGCorp.Models.Suggestion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SG Corporation HR Home</h1>
<div>
    <h2>Resumes</h2>
    @Html.ActionLink("Submit a Resume", "AddResume", "Resume", null, new {@class = "btn btn-primary"})
    <p></p>
    @Html.ActionLink("View Submitted Resume", "ListResumes", "Resume", null, new {@class = "btn btn-primary"})
    <p></p>
    <h2>Suggestions</h2>
    @Html.ActionLink("Submit a Suggestion", "AddSuggestion", "Suggestion", null, new {@class = "btn btn-primary"})
    <p></p>
    @Html.ActionLink("View Submitted Suggestion", "ViewSuggestions", "Suggestion", null, new {@class = "btn btn-primary"})
    <p></p>
    <h2>Policy Documents</h2>
    @Html.ActionLink("View Document", "ListDocuments", "Policy", null, new { @class = "btn btn-primary" })
    <p></p>
    @Html.ActionLink("Manage Documents", "AddDocument", "Policy", null, new { @class = "btn btn-primary" })

</div>